{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/1600x600/?mac computer laptop" class="d-block w-100" alt="Contact">
    </div>
  </div>
</div>
<div class="container my-3">
  <div class="blog-post">
    <h2 class="blog-post-title">About us</h2>

    <p>This website is based on knowledgeable programming and technology related content and articles. You can Also
      give your own suggestions and feedback for articles and improvement of website </p> <br>
      <div style="margin: 8px;"> <img src="/static/home/img/LogoMakr-63Uoxt.png" alt="knowledgeforyou"></div>
    <div style="font-family: 'Oswald', sans-serif; font-size: 25px; margin-bottom: -20px;">About website owner -</div>
     <br> This
    website is made by a 13 year old boy named Abhinav for the purpose to guide and write informative articles <br>
    <div style="font-family: 'Oswald', sans-serif; font-size: 25px; margin-top: 20px;">Contact -</div> <br>
    <ul style="margin: -20px; margin-bottom: 1px;">
      <a href="mailto:knowledgeforyoumail@gmail.com" style="text-decoration: none; color: black;">
        <li style="list-style: none; font-family: 'Pathway Gothic One', sans-serif; font-size: 20px;"> <i
            class="far fa-envelope"></i> Mail</li>
      </a>
      <a href="https://www.instagram.com/knowledgeableforyou/" target="_blank"
        style="text-decoration: none; color: black;">
        <li style="list-style: none; font-family: 'Pathway Gothic One', sans-serif; font-size: 20px;"> <i
            class="fab fa-instagram"></i></i> Instagram</li>
      </a>
    </ul>
    <hr>
  </div>
</div>
<div class="container my-3">
  <div class="row">
      <div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
          <img class="card-img-top"
              src="/static/home/img/1.jpeg" alt="Home">
          <div class="card-body">
              <h5 class="card-title">Contact</h5>
              <p class="card-text">Contact me for any query or help and you can also contact for suggestions and feedback of the website. I will try to contact back as soon as possible</p>
              <a href="/contact" class="btn btn-primary">Go to Contact</a>
          </div>
      </div>
      <div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
          <img class="card-img-top"
              src="/static/home/img/2.jpg" alt="Home">
          <div class="card-body">
              <h5 class="card-title">Home</h5>
              <p class="card-text">The home page of website and see popular and informative blogposts at homepage and explore the website</p>
              <a href="/about" class="btn btn-primary">Go to Home</a>
          </div>
      </div>
      <div class="card mx-auto my-2 p-2 align-items-center" style="width: 18rem;">
          <img class="card-img-top"
              src="/static/home/img/3.jpg" alt="Home">
          <div class="card-body">
              <h5 class="card-title">Blog</h5>
              <p class="card-text">Some of the technology related informative articles available. Keep your programming knowledge up to date with our coding articles.</p>
              <a href="/blog" class="btn btn-primary">Go to Blog</a>
          </div>
      </div>
  </div>
</div>
{% endblock body %}